
body{
    background-color: dodgerblue;
}
.header{
   line-height: 100px;
    background-color: greenyellow;
    color: white;
    font-size: x-large;
    text-align: center;
}

p{
    word-wrap: normal;

}
.container{
    display: flex;
    margin: 40px;
    justify-content: space-between;
    text-align: center;


}
.card{
     margin: 15px;
    padding: 15px;
    background-color: white;
}
h3{
    text-align: center;
    color: black;
    font-weight: bold;
}
